# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/
.ENV/

# Django stuff:
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/
local_settings.py

# Streamlit cache
.streamlit/

# VS Code
.vscode/

# macOS
.DS_Store

# Python environment settings
.env
*.env
.env.*

# PyCharm
.idea/

# pip logs
pip-log.txt

# mypy
.mypy_cache/

# Coverage reports
htmlcov/
.coverage
.tox/

# Test / debug
*.cover
*.log
*.tmp

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
